
.si-wrap {
    position: relative;
}
.si-wrap input {
    width: 100%;
    color: inherit;
    border: 1px solid;
}
.si-list {
    position: absolute; top: 100%; left: 0;
    width: 100%;
    overflow-y: auto;
    border: 1px solid;
    border-top: none;
}
.si-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.si-item {
    padding: .5em .7em;
    border-bottom: 1px solid;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.si-item:last-child {
    border-bottom: none;
}
.si-removal {
    background: none;
    border: none;
    cursor: inherit;
    color: inherit;
    line-height: inherit;
    padding: 0 8px;
}
.si-proposal {
    display: block;
}
.si-proposal span {
    pointer-events: none;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 3px;
    display: inline-block;
}
.si-item:hover,
.si-current {
    background-color: rgba(0, 0, 0, .2);
}
.si-hide .si-list {
    display: none;
}
